@charset "utf-8";

.app-logo {
  width: initial;
}

#kHeader {
 width:100%;
 height:400px;
 background-image:url(/web/20200417200446im_/https://knome.org/assets/img/Next.jpg);
 background-position:center;
 background-size:cover
}
#kHeader h1 {
 font-size:1.8em;
 font-weight:bold
}
#kHeader .carousel-inner {
 width:100%;
 height:100%
}
#kHeader .carousel-item {
 color:#EEE;
 width:100%;
 height:100%
}
#kHeader .carousel-item-content {
 width:100%;
 height:90%;
 display:flex;
 flex-direction:column-reverse;
 margin:auto
}
@media (min-width: 768px) {
 #kHeader .carousel-item-content {
  flex-direction:row;
  align-items:center;
  height:100%
 }
}
@media (min-width: 1100px) {
 #kHeader .carousel-item-content {
  max-width:1140px;
  width:100%
 }
}
#kHeader .slide-background {
 width:100%;
 flex-grow:2;
 background-size:contain;
 background-position:center;
 background-repeat:no-repeat
}
@media (min-width: 768px) {
 #kHeader .slide-background {
  flex:2 1 auto;
  height:100%
 }
}
#kHeader .carousel-text-overlay {
 flex-shrink:2;
 text-align:center;
 margin:auto;
 width:100%;
 padding:30px 0 10px 0;
 color:#FFF
}
#kHeader .carousel-text-overlay h1 {
 font-size:1.2em
}
@media (min-width: 1100px) {
 #kHeader .carousel-text-overlay h1 {
  margin-bottom:16px
 }
}
#kHeader .carousel-text-overlay p {
 line-height:1.4em
}
@media (min-width: 768px) {
 #kHeader .carousel-text-overlay {
  flex:1 3 auto;
  position:unset;
  border:none;
  background:none;
  text-align:left;
  color:#FFF;
  font-size:1em;
  padding:0 10px 0 15px
 }
}
@media (min-width: 1100px) {
 #kHeader .carousel-text-overlay {
  font-size:1.3em;
  padding:0 40px 0 15px
 }
}
#kHeader .learn-more {
 color:#54a3d8
}
@media (min-width: 768px) {
 #kHeader {
  height:500px
 }
}
@media (min-width: 1100px) {
 #kHeader {
  height:700px
 }
}
