{{ define "head-import" }}
{{ $style := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<style>
#home-available {
  background-color: rgba(61,174,233, 0.1);
}
#kHeader {
  background-image: url(/assets/img/gnome-336-wallpaper.jpg)
}
.citation-text {
  font-size: 20px;
}
.citation:nth-child(odd) img {
  order: 2;
}
.baguette {
  background: url(/assets/img/baguette.png) repeat-x;
  background-size: contain;
  height: 30px;
}
.unicorn {
  background: url(/assets/img/Emojione_1F984.svg) repeat-x;
  background-size: contain;
  height: 30px;
}
.potato {
  background: url(/assets/img/potato.png) repeat-x;
  background-size: contain;
  height: 30px;
}
.gnomekde {
  font-size: 70px;
}
.gnomelogo, .kdelogo {
  width: 100px;
  height: auto;
}
.knomelogo {
  width: 400px;
  height: auto;
}
.ram-usage {
  width: 90%;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.blue {
  background-color: #0079d8;
  color: white;
  font-size: 30px;
  padding: 15vw 20px;
}

.blue p {
  max-width: 900px;
}

.blue h1 {
  font-size: 50px;
}

.button-pulsing {
  font-size: 70px;
  animation: pulse 2s ease-in-out infinite;
  -webkit-animation: pulse 2s ease-in-out infinite;
}

@media (max-width: 800px) {
.button-pulsing {
  font-size: 40px;
}
}

@keyframes pulse {
  0% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  90% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
</style>
{{ end }}

{{ define "main" }}
<section id="kHeader" class="carousel mb-0">
  <div class="carousel-item active">
    <div class="carousel-item-content pl-4 pr-4">
      <div class="slide-background" style="background-image: url(/assets/img/knome.png)"></div>
      <div class="carousel-text-overlay p-relative text-center" >
        <h1>KNOME</h1>
        <p style="text-shadow: black 2px 2px 5px;">The next operating system for your computer</p>
        <a class="button learn-more mb-3 mt-3" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="button">Download</a>
      </div>
    </div>
  </div>
</section>

<main>
  <section class="container">
    <div class="d-flex justify-content-around gnomekde align-items-center">
      <img class="gnomelogo" src="https://upload.wikimedia.org/wikipedia/commons/6/68/Gnomelogo.svg" />
      +
      <img class="kdelogo" src="/assets/img/kde-logo-bluegradient-w-slug-vectorized.svg" />
      =
      <img class="knomelogo" src="/assets/img/knome.svg" />
    </div>
  </section>

  <div class="unicorn my-5"><span class="visually-hidden">Seperator using image of unicorn</span></div>

  <section class="container">
    <h1>Motivation</h1>
    <h2 class="mt-4">The Immediacy of Now</h2>
    <p>Now is the moment immediately happening. That is why KNOME will be on your desktop now. Or some time next week. This state-o-fart user-experience will transport you to the future of user experiences, not in the future. But now. Immediately. Or next week.</p>
    <a class="button learn-more" href="http://www.tinytuba.com/">Learn more</a>

    <h2 class="mt-4">Addressing Empowered Entitlement</h2>
    <p>Users are entitled and the empowerment via the KNOME desktop environment powers environmentally that entitlement. The synergies between FLOSS communities provides empowered entitlement to user-powered environments through environmentally empowered desktops.</p>
    <a class="button learn-more" href="http://www.hardcoreprawnlawn.com/">Learn more</a>

    <h2 class="mt-4">Convergent UAC made Simple</h2>
    <p>With Knome DE the convergency of UAC FWs is baked into the UIX. Via JSON-enabled ITPs, all APPs converge in one single API, allowing for better IDE experiences, guaranteeing faster DWFs and better QC checks.</p>
    <a class="button learn-more" href="http://www.iamaturtle.org/">Learn more</a>

    <h2 class="mt-4">KNOME: Leadership through Synergy</h2>
    <p>KNOME is conceived with one purpose in mind: To create a best-of-breed cross-platform fintech  deployment blockhain-enabled DE to specifically support the automation of popular cross-platform GUI frameworks leveraging QTK frameworks.</p>
    <a class="button learn-more" href="http://www.bouncingdvdlogo.com/">Learn more</a>
  </section>

  <div class="baguette my-5"><span class="visuall-hidden">Seperator using image of baquette</span></div>

  <section class="container">
    <h1>Agreement</h1>
    <div class="citation my-5 d-flex align-items-center">
      <img class="img-fluid author mr-3" src="/assets/img/apol.jpg" style="max-width: 40%"/>
      <div class="citation-text p-2">
        "A joint conference was only the beginning. KNOME, QTK3, KNOME Mobile, Lollyrok… the possibilities for shared development are now limitless",<br />
        <i>Aleix Pol, president of KDE e.V. and a co-founder of Linux App Summit</i>
      </div>
    </div>
    <div class="citation my-5 d-flex align-items-center">
      <img class="img-fluid author mr-3" src="https://www.gnome.org/wp-content/uploads/2019/07/neil-mcgovern-gnome-ed-square.png" style="max-width: 40%"/>
      <div class="citation-text p-2">
        "We see ending desktop fragmentation as the key to Linux success […] Feeling united and utterly bored in these hard times also contributed to our decision to merge the projects", <br />
         <i>Neil McGovern, Executive Director of the GNOME Foundation</i>
      </div>
    </div>
  </section>

  <section class="blue">
    <div class="container">
      <h1>:)</h1>
      <p>With the combination of the expertise of both GNOME and KDE developers, we managed to reduce the number of bugs to effectively 0<p>
      <!-- <h5 class="p-t-3 float-right">*to be confirmed</h5> -->
    </div>
  </section>

  <section class="container">
    <h1>Efficiency</h1>
    <p>Heroic engineering efforts of our developer teams finally paid off: the RAM usage of KNOME was optimized and is now twice as high as
      the total of GNOME 3 and Plasma 5 desktops before the merge, allowing for a smooth lag-free experience on high-end systems.
    </p>
    <img class="ram-usage p-3" src="/assets/img/ram.svg">
  </section>

  <div class="potato my-5"><span class="visually-hidden">Seperator using image of baquette</span></div>

  <div class="container">
    <h1>Coming on phones as well!</h1>
    <figure class="text-center img-fluid">
        <img src="/assets/img/glamo.jpg" alt="Glamo" class="img-fluid" style="width: 600px"><br />
      <caption>Photo credit: Martijn Braam, postmarketOS</caption>
    </figure>
  </div>

  <section class="container">
    <h1>Availability</h1>
    KNOME is here, and now; everywhere and forever. Not on your PC yet? <b>Your're missing out!</b> Be the <s>first</s> last to get it!
  </section>

  <div class="container">
    <a class="button learn-more mb-3 mt-3 d-flex align-items-center justify-content-center button-pulsing" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="button2">Download</a>
  </div>
</main>
<script src="/script.js?ver=1"></script>
{{ end }}
